<a href="https://colab.research.google.com/github/mpazio-pjatk/posi1/blob/main/Cwiczenia1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ćwiczenia 1

W trakcie kilku pierwszych ćwiczeń zajmiemy się pracą z Google Colab. Nauczymy się podstaw dodawania nowych skryptów, ich zapisywania w repozytorium, a także podstaw pracy z typami danych, zmiennymi i innymi podstawowymi konstrukcjami, które znacie już z Javy.

## Wprowadzenie

### Wyświetlanie danych

In [1]:
print("Hello, world!")
print("Cześć,", "Anna")   # można łączyć kilka elementów

Hello, world!
Cześć, Anna

### Zmienne i typy danych

 Zmienną tworzymy po prostu przez przypisanie wartości:

In [2]:
x = 10          # liczba całkowita (int)
y = 3.14        # liczba zmiennoprzecinkowa (float)
name = "Jan"    # napis (str)
student = True  # wartość logiczna (bool)

Sprawdzenie typu zmiennej:

In [ ]:
print(type(x))     # <class 'int'>
print(type(name))  # <class 'str'>

<class 'int'>
<class 'str'>

### Operatory arytmetyczne

In [ ]:
a = 7
b = 3
print(a + b)    # dodawanie → 10
print(a - b)    # odejmowanie → 4
print(a * b)    # mnożenie → 21
print(a / b)    # dzielenie → 2.333...
print(a // b)   # dzielenie całkowite → 2
print(a % b)    # reszta z dzielenia → 1
print(a ** b)   # potęga → 343

10
4
21
2.3333333333333335
2
1
343

### Operatory porównania

In [ ]:
print(5 > 3)   # True
print(5 == 3)  # False
print(5 != 3)  # True

True
False
True

### Konwersje typów

In [ ]:
x = "123"
y = int(x)     # konwersja string → int
print(y + 10)  # 133
z = str(456)   # konwersja int → string
print("Liczba to " + z)

133
Liczba to 456

### Pobieranie danych od użytkownika

In [3]:
name = input("Podaj swoje imię: ")
print("Cześć,", name)
year = int(input("Podaj rok urodzenia: "))
age = 2025 - year
print("Masz", age, "lat.")

Podaj swoje imię: Jan
Cześć, Jan
Podaj rok urodzenia: 2000
Masz 25 lat.

## Ćwiczenia 1-9

### Zadanie 1
1. Utwórz zmienną o nazwie `x` i wartości `10`.
2. Poleć komputerowi, aby pokazał wartość tej zmiennej. Spróbuj zrobić to na dwa różne sposoby: z użyciem funkcji `print` i bez niej.
3. Spróbuj utworzyć cztery zmienne **a, b, c, d** i przypisać im wartości **10, 20, 30, 40** w jednym wierszu. Następnie wypisz wynik w konsoli.

In [4]:
x = 10
x

10

### Zadanie 2
Napisz program, który:
1. Przypisze do zmiennej `name` Twoje imię.
2. Wyświetli komunikat w formie:
``` Cześć, [imię]! ```

In [ ]:
# Twój kod tutaj

### Zadanie 3
1. Utwórz dwie zmienne: `a = 7`, `b = 3`
2. Oblicz i wyświetl:
    * sumę,
    * różnicę,
    * iloczyn,
    * iloraz.

In [5]:
a = 7
b = 3
sum = a + b
print(sum)

10

### Zadanie 4
1. Utwórz zmienną `x = "123"`.
2. Zamień `x` na liczbę całkowitą i dodaj do niej 10.
3. Wynik wyświetl jako napis w formie:
```Wynik dodawania to: 133```

In [ ]:
# Twój kod tutaj

### Zadanie 5
Napisz program, który:
1. Utworzy zmienne:
 * `wiek = 20`
 * `średnia = 4.75`
 * `student = True`
 * `imię = "Anna"`
2. Dla każdej zmiennej wypisze jej typ, np.:
```Zmienna wiek ma typ: <class 'int'>```

In [ ]:
# Twój kod tutaj

### Zadanie 6
1. Poproś użytkownika o podanie swojego roku urodzenia.
2. Oblicz jego wiek (zakładając, że mamy rok 2025).
3. Wyświetl komunikat:
```Masz [wiek] lat.```

In [ ]:
# Twój kod tutaj

### Zadanie 7
Napisz funkcję `calculator(a, b, op)`, gdzie `op`, to znak: `+`, `-`, `*`, `/`.

Funkcja powinna zwrócić wynik działania, np.:
```
calculator(4, 2, "+")  # 6
calculator(4, 2, "/")  # 2.0
```

In [7]:
def calculator(a, b, op):
  if op == '+':
    return a + b
  elif op == '-':
    return a - b
  elif op == '*':
    return a * b
  else:
    return a / b

print(calculator(4, 2, "+"))  # 6
print(calculator(4, 2, "/"))  # 2.0

6
2.0

### Zadanie 8
Napisz funkcję `bmi(weight, height)`, która:
* oblicza wskaźnik BMI wg wzoru: BMI = $\frac{\text{waga}}{(\text{wzrost})^2}$
* zwraca komunikat:
  * `< 18.5` → "niedowaga"
  * `18.5-24.9` → "waga prawidłowa"
  * `25-29.9` → "nadwaga"

In [ ]:
# Twój kod tutaj

### Zadanie 9
 Napisz funkcję `tax(income)`, która dla podanego dochodu (`income`) obliczy podatek wg uproszczonego systemu:
* do 30 000 zł → 10%
* od 30 001 do 100 000 zł → 20%
* powyżej 100 000 zł → 30%

In [ ]:
# Twój kod tutaj

##  Pętle, tablice, kolekcje

### Tworzenie listy

In [ ]:
numbers = [1, 2, 3, 4, 5]   # lista z wartościami
empty = []                  # pusta lista
mixed = [1, "tekst", 3.14]  # lista z różnymi typami

### Podstawowe operacje

In [ ]:
numbers = [10, 20, 30, 40]

print(numbers[0])           # dostęp do elementu → 10
print(numbers[-1])          # ostatni element → 40

numbers.append(50)          # dodanie elementu na końcu
numbers.insert(1, 15)       # wstawienie elementu na indeks
numbers.remove(30)          # usuwa pierwsze wystąpienie 30
numbers.pop()               # usuwa ostatni element
numbers.sort()              # sortowanie rosnąco
numbers.reverse()           # odwrócenie kolejności
print(len(numbers))         # długość listy

10
40
4

### Wyszukiwanie i sprawdzanie

In [ ]:
print(20 in numbers)        # True, sprawdza obecność
print(numbers.index(40))    # indeks elementu 40

True
0

### Slicing (wycinanie fragmentów)

In [ ]:
print(numbers[1:3])   # od indeksu 1 do 2
print(numbers[:2])    # od początku do 1
print(numbers[2:])    # od indeksu 2 do k
print(numbers[::2])   # co drugi element

[20, 15]
[40, 20]
[15, 10]
[40, 15]

### Iteracja po elementach

In [ ]:
for x in numbers:
 print(x)

40
20
15
10

### Iteracja po indeksach

In [ ]:
for i in range(len(numbers)):
 print(i, numbers[i])

0 40
1 20
2 15
3 10

### Enumeracja (indeks + wartość jednocześnie)

In [ ]:
for i, value in enumerate(numbers):
 print(i, value)

0 40
1 20
2 15
3 10

### While loop

In [ ]:
 i = 0
 while i < len(numbers):
  print(numbers[i])
  i += 1

40
20
15
10

### List comprehension

In [ ]:
squares = [x**2 for x in numbers]
print(squares)

[1600, 400, 225, 100]

## Ćwiczenia 10-14

### Zadanie 10 - Odwracanie listy
 Napisz funkcję, która **odwróci listę** bez używania metody `reverse()` ani ` :-1`.

 (np. `["a", "b", "c", "d"] → ["d", "c", "b", "a"]`)

In [14]:
def customReverse(list):
  for i in range(int(len(list)/2)):
    tmp = list[i]
    list[i] = list[len(list) - 1 - i]
    list[len(list) - 1 - i] = tmp

list = ["a", "b", "c", "d"]
customReverse(list)
print(list)

['d', 'c', 'b', 'a']

### Zadanie 11 - Zliczanie wystąpień
Dla listy:

``` fruits = ["apple", "banana", "apple", "orange", "banana", "apple"] ```


Policz, ile razy występuje każdy owoc i zapisz wynik w słowniku, np.:

```  {"apple": 3, "banana": 2, "orange": 1} ```

In [16]:
def count(list):
  dict = {}
  for x in list:
    if dict.get(x) == None:
      dict[x] = 1
    # cos jeszcze

  return dict

fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
print(count(fruits))

{'apple': 1, 'banana': 1, 'orange': 1}

### Zadanie 12 - Normalizacja danych
Masz listę wartości:
```  data = [10, 20, 30, 40, 50] ```

Napisz funkcję `normalize(data)`, która zwróci listę wartości przeskalowanych do przedziału `[0, 1]` według wzoru:

$ x' = \frac{x - min}{max - min}$

In [ ]:
# Twój kod tutaj

### Zadanie 13 - Bag of Words (liczenie słów)
Masz listę zdań:
```
sentences = [
 "I like Python",
 "Python is great for AI",
 "I like AI"
]
 ```

Napisz funkcję `bag_of_words(sentences)`, która zwróci słownik z częstością występowania każdego słowa.

In [ ]:
# Twój kod tutaj

### Zadanie 14 - Liczby doskonałe
Napisz funkcję `is_perfect(n)`, która sprawdzi, czy liczba jest **doskonała**, czyli równa sumie swoich dzielników właściwych.

Przykład: `6` → dzielniki 1+2+3 = 6 → liczba doskonała.

In [ ]:
# Twój kod tutaj